# Created by .ignore support plugin (hsz.mobi)
.idea/
.travis.yml
.editorconfig
.eslintrc
yarn.lock
coverage
.ruby-verision
.ruby-version
/npm-debug.log
/coverage/
/node_modules/
webpack.config.js
.npmignore
jest-config.json
.babelrc
/src/
