@keyframes glitch-animation-before {

  0% {
    clip-path: inset(16pt 0 2pt 0);
  }

  5% {
    clip-path: inset(6pt 0 12pt 0);
  }

  10% {
    clip-path: inset(4pt 0 14pt 0);
  }

  15% {
    clip-path: inset(18pt 0 0pt 0);
  }

  20% {
    clip-path: inset(20pt 0 -2pt 0);
  }

  25% {
    clip-path: inset(19pt 0 -1pt 0);
  }

  30% {
    clip-path: inset(6pt 0 12pt 0);
  }

  35% {
    clip-path: inset(4pt 0 14pt 0);
  }

  40% {
    clip-path: inset(16pt 0 2pt 0);
  }

  45% {
    clip-path: inset(12pt 0 6pt 0);
  }

  50% {
    clip-path: inset(6pt 0 12pt 0);
  }

  55% {
    clip-path: inset(18pt 0 0pt 0);
  }

  60% {
    clip-path: inset(1pt 0 17pt 0);
  }

  65% {
    clip-path: inset(15pt 0 3pt 0);
  }

  70% {
    clip-path: inset(12pt 0 6pt 0);
  }

  75% {
    clip-path: inset(5pt 0 13pt 0);
  }

  80% {
    clip-path: inset(11pt 0 7pt 0);
  }

  85% {
    clip-path: inset(15pt 0 3pt 0);
  }

  90% {
    clip-path: inset(3pt 0 15pt 0);
  }

  95% {
    clip-path: inset(14pt 0 4pt 0);
  }

  100% {
    clip-path: inset(3pt 0 15pt 0);
  }
}

@keyframes glitch-animation-after {

  0% {
    clip-path: inset(18pt 0 0pt 0);
  }

  5% {
    clip-path: inset(8pt 0 10pt 0);
  }

  10% {
    clip-path: inset(16pt 0 2pt 0);
  }

  15% {
    clip-path: inset(9pt 0 9pt 0);
  }

  20% {
    clip-path: inset(17pt 0 1pt 0);
  }

  25% {
    clip-path: inset(15pt 0 3pt 0);
  }

  30% {
    clip-path: inset(13pt 0 5pt 0);
  }

  35% {
    clip-path: inset(0pt 0 18pt 0);
  }

  40% {
    clip-path: inset(11pt 0 7pt 0);
  }

  45% {
    clip-path: inset(12pt 0 6pt 0);
  }

  50% {
    clip-path: inset(21pt 0 -3pt 0);
  }

  55% {
    clip-path: inset(20pt 0 -2pt 0);
  }

  60% {
    clip-path: inset(9pt 0 9pt 0);
  }

  65% {
    clip-path: inset(20pt 0 -2pt 0);
  }

  70% {
    clip-path: inset(14pt 0 4pt 0);
  }

  75% {
    clip-path: inset(7pt 0 11pt 0);
  }

  80% {
    clip-path: inset(12pt 0 6pt 0);
  }

  85% {
    clip-path: inset(3pt 0 15pt 0);
  }

  90% {
    clip-path: inset(5pt 0 13pt 0);
  }

  95% {
    clip-path: inset(7pt 0 11pt 0);
  }

  100% {
    clip-path: inset(17pt 0 1pt 0);
  }
}

body {
  font-family: 'Play', sans-serif;
}

.wrapper {
  position: relative;
}

.glitch {
  font-weight: 700;
  font-size: 23pt;
}

.glitch::before, .glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  clip-path: inset(23pt 0 0 0);
}

.glitch::before {
  text-shadow: -2px 0 #f00;
  animation: glitch-animation-before alternate-reverse 3s infinite linear;
}

.glitch::after {
  text-shadow: 2px 0 #00f;
  animation: glitch-animation-after alternate-reverse 2s infinite linear;
}

.glitch_noise {
  font-size: 2.7em;
}

.glitch_em {
  font-size: 2.7em;
}

