body {
  font-family: 'Play', sans-serif;
}

.wrapper {
  position: relative;
}

.glitch {
  font-weight: 700;
  font-size: 23pt;
  glitch: 23pt #f00 #00f 2px;
}

.glitch_noise {
  font-size: 2.7em;
}

.glitch_em {
  font-size: 2.7em;
}
